  <div class="rectangular btn short alt-color">
    <span class="material-icons btn-icon">
      delete
    </span>
    <div class="btn-text">
      <%= link_to "削除", linked_path, method: :delete, data: { confirm: confirm_msg } %>
    </div>
  </div>
