<div class="rectangular btn long">
  <span class="material-icons btn-icon">
    edit_note
  </span>
  <div class="btn-text">
    <%= link_to "許可証申請の変更", edit_reservation_certificate_path(reserv_id, certif_id) %>
  </div>
</div>
