<header>
    <div class="logo">
      <p>その場で確認、すぐに予約</p>
      <span><%= link_to "スグトル", root_path %></span>
    </div>
</header>

<nav>
  <ul class="nav-bar">
    <% if user_signed_in? %>
      <li><%= link_to "予約表", reservations_path %></li>
      <li><%= link_to "利用者情報", user_path(current_user.id) %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</nav>
