<div class="square btn">
  <span class="material-icons btn-icon">
    picture_as_pdf
  </span>
  <div class="btn-text">
    <%= link_to "許可証", new_reservation_ticket_path(reserv_id) %>
  </div>
</div>
