<div class="main">
  <%= render partial: "shared/reservation_stepper" %>
  <p class="message">
    予約が完了しました。
  </p>
  <%= render partial: "shared/backward_btn", locals: { linked_path: root_path, page: "トップページ" } %>
</div>