<div class="main">
  <h2 class="page-title">予約表</h2>
  <p class="message">
    確認したい日付をクリックまたはタップしてください。<br>
    翌月末まで予約することができます。
  </p>
  <%= month_calendar do |date| %>
    <%= link_to "#{date.day}", reservation_path(date) %>
  <% end %>
  <%= render partial: "shared/backward_btn", locals: { linked_path: root_path, page: "トップページ" } %>
</div>