<div class="main">
  <h2 class="page-title">
    使用許可証申請内容の編集
  </h2>
  <p class="message">
    変更後、変更の申請ボタンを押してください。<br>
    申請後、使用許可証表示ボタンからダウンロードまたは印刷してご利用ください。<br>
    (使用許可証に印字されない情報もございます。)
  </p>

  <%= render partial: "shared/certif_form", locals: { reservation: @reservation, certificate: @certificate, cars: @cars } %>

  <%= render partial: "shared/backward_btn", locals: { linked_path: root_path, page: "トップページ" } %>
</div>