<div class="main">
  <h2 class="page-title">
    使用許可証の申請
  </h2>
  <p class="message">
    すべての項目を入力して申請ボタンを押してください。<br>
    申請後、使用許可証表示ボタンが作成されるのでダウンロードまたは印刷してご利用ください。<br>
    (使用許可証に印字されない情報もございます。)
  </p>

  <%= render partial: "shared/certif_form", locals: { reservation: @reservation, certificate: @certificate, cars: @cars } %>

  <%= render partial: "shared/backward_btn", locals: { linked_path: root_path, page: "トップページ" } %>
</div>