.simple-calendar {
  .calendar-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .calendar-title {
    font-size: 200%;
    font-weight: 600;
  }
  th {
    border: 1px solid #dbdbdb;
    background-color: #98DED9;
    color: #F6F6F6;
    font-size: 125%;
    font-weight: 600;
    text-align: center;
  }
  .table-striped {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  td {
    display: table-cell;
    vertical-align: middle;
  }
  .day {
    height: 60px;
    padding: 0;
    border: 1px solid #dbdbdb;
    font-size: 125%;
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px;
    }
  }
  .today {
    background-color: #F6F6F6;
    outline: 3px solid #161d6f;
    outline-offset: -8px;
    a {
      &:hover {
        background-color: #c7ffd8;
        transition: all, 0.2s;    
      }
    }
  }
  .past {
    background-color: #cdcdcd;
    color: #6f6f6fae;
    a {
      &:hover {
        background-color: #c5d7cc;
        transition: all, 0.2s;
      }
    }
  }
  .future {
    background-color: #F6F6F6;
    a {
      &:hover {
        background-color: #c7ffd8;
        transition: all, 0.2s;
      }
    }
  }
  .prev-month a {
    display: none;
  }
  .next-month a {
    display: none;
  }
}