<div class="main">
  <h2 class="page-title">車両情報の編集</h2>

  <%= render partial: "shared/car_form", locals: { car: @car } %>

  <%= render partial: "shared/backward_btn", locals: { linked_path: user_path(current_user.id), page: "利用者情報ページ" } %>

</div>
