<div class="main">
  <h2 class="page-title">車両情報 新規登録</h2>
  <p class="message">
    よく使用する車の情報を登録できます。<br>
    許可証申請の際に登録した車両情報を利用できるようになります。
  </p>

  <%= render partial: "shared/car_form", locals: { car: @car } %>

  <%= render partial: "shared/backward_btn", locals: { linked_path: user_path(current_user.id), page: "利用者情報ページ" } %>

</div>
