.reserv-info-content {
  padding: 1.5em;
  margin-bottom: 2em;
  border-radius: 5px;
  background-color: #e8e8e8;
}

.info-title {
  margin-bottom: 0.5em;
  border-bottom: 3px solid #161d6f;
  font-size: 1.5em;
  font-weight: 400;
}

.reserv-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.reserv-info {
  width: 100%;
}

.reserv-info th {
  padding: 0.5em;
}

.reserv-info td {
  padding: 0.5em;
}

.btn-content {
  display: flex;
}

/* タブレット表示時 */
@media (min-width: 600px) and (max-width: 1024px) {
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .reserv-content-wrapper {
    display: block;
  }
}
