.reserv-info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 2em;
  margin-bottom: 2em;
  border-radius: 5px;
  background-color: #e8e8e8;
}

.info-title {
  margin-bottom: 0.5em;
  border-bottom: 3px solid #161d6f;
  font-size: 1.5em;
  font-weight: 300;
}

.reserv-info {
  table-layout: fixed;
  width: 100%;
}

.reserv-info th {
  padding: 0.5em;
}

.reserv-info td {
  padding: 0.5em;
}

.btn-content {
  display: flex;
}
