.user-info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5em;
  border-radius: 5px;
  background-color: #e8e8e8;
}

.user-info {
  table-layout: fixed;
  width: 100%;
}

.user-info th {
  padding: 0.5em;
}

.user-info td {
  padding: 0.5em;
}

.btn-content {
  display: flex;
}
