.user-info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5em;
  border-radius: 5px;
  background-color: #e8e8e8;
}

.user-info {
  width: 100%;
}

.user-info th {
  padding: 0.5em;
}

.user-info td {
  padding: 0.5em;
}

.btn-content {
  display: flex;
  justify-content: right;
}

/* タブレット表示時 */
@media (min-width: 600px) and (max-width: 1024px) {
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .user-info-content {
    display: block;
  }
  .btn-content {
    padding-top: 1rem;
  }
}
