.form-wrapper {
  width: 100%;
  height: auto;
  padding: 2em;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #dbdbdb;
}

.alert {
  padding-bottom: 1em;
  text-align: center;
  color: red;
}

.form {
  display: block;
  justify-content: center;
}

.new_user {
  width: 100%;
}
.field {
  width: 100%;
  padding-bottom: 0.8em;
}

.actions {
  display: flex;
  justify-content: center;
}

.links {
  padding: 1em;
  text-align: center;
}